.idea
.venv
venv
Pipfile.lock
venv
__pycache__
network.json
log
*.log
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
test*.json
debug.json
profile_network.json
*.html
*.prof
*.pdf
scratch.*
*.pkl
.DS_Store
